<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
  />
</head>
<body class="bg-gray-100">
    {% include 'header.html' %}
    <div class="flex items-center mt-10 justify-center ">
    <div class="bg-white p-8 rounded shadow-md w-full max-w-md">
        <h1 class="text-2xl font-bold mb-6 text-center">Añadir un producto</h1>
        <form method="post" enctype="multipart/form-data" class="space-y-6">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="w-full bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700">
                Add Product
            </button>
        </form>
    </div>
</div>
{%include 'foot.html'%}

</body>
</html>
