{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contáctanos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    
</head>
<body class="bg-gray-100">
    <header class="w-full bg-black text-white">
        <div class="container mx-auto flex items-center p-4">
            <!--<img src="{% static 'images/astro.png' %}" alt="Logo" class="h-8 mr-4">-->
            <h1 class="text-3xl font-bold">
              <span class="text-blue-300">Astro</span>
              <span class="text-white">3D</span>
          </h1>
        </div>
    </header>
    <!-- Contenido principal -->
    <main class="container mx-auto px-4">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div class="max-w-lg">
                <h1 class="font-bold text-5xl mt-5 mb-3">Sobre nosotros</h1>
                <p class="text-lg text-gray-700">Somos una empresa 100% mexicana dedicada a la creación y venta de productos realizados con impresión 3D.</p>
                <p class="text-lg text-gray-700">Contáctanos en nuestras redes sociales o por correo electrónico para cotizar un diseño propio o realizar un nuevo pedido.</p>
                <h1 class="font-bold text-5xl mt-5 mb-3">Contáctanos</h1>
                <div class="bg-gray-200 rounded-lg p-5">
                    <h3 class="font-bold text-xl mb-3">¿Qué hacer si tienes problemas con el proceso de compra?</h3>
                    <p class="text-lg">Llámanos directamente o comunícate con la empresa por vía electrónica para poder ayudarte a solucionar el inconveniente.</p>
                </div>
            </div>
            <div class="flex justify-center items-center">
                <img class="contact-image" src="{% static 'images/contacta.png' %}" alt="modelo de carro" style="max-width: 200px;">
            </div>
        </div>
    </main>

</body>

<footer>
  
    <div class="footer bg-gray-800 h-full text-white py-6 mt-5">
      <p class="text-center">Teléfono: 442 740 0215 | Correo: astro3d@gmail.com</p>
    </div>
    <script src="{% static 'js/home.js' %}"></script>
</footer>

</html>


