
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
  <title>Regístrate</title>
  {% load static %}
</head>
<body class="bg-gray-100">
  {% include 'header.html' %}
   
  <div class="mx-8 my-8 p-8 bg-white shadow-lg rounded-lg">
    <h1 class="font-sans text-4xl font-bold mb-3">Regístrate</h1>
    <p class="text-base font-normal max-w-[557px] mb-5">
      Estos datos se usarán después para poder iniciar sesión en el sistema y para hacer pedidos.
    </p>

    <form class="flex w-full flex-wrap gap-6 justify-start text-gray-700 items-center" method="post">
      {% csrf_token %}
      <label class="font-bold flex flex-col" for="nombre">Nombre(s)
        <input
          class="bg-gray-200 rounded-lg w-[370px] h-[62px] px-4 py-2 mt-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
          type="text"
          id="edit-input-name"
          name="nombre"
          required
          placeholder="Nombre (s)"
        />
      </label>

      <label class="font-bold flex flex-col" for="apellidos">Apellidos
        <input
          class="bg-gray-200 rounded-lg w-[370px] h-[62px] px-4 py-2 mt-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
          type="text"
          id="edit-input-lastname"
          name="apellidos"
          required
          placeholder="Apellidos"
        />
      </label>

      <label class="font-bold flex flex-col" for="correo">Correo
        <input
          class="bg-gray-200 rounded-lg w-[370px] h-[62px] px-4 py-2 mt-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
          type="email"
          required
          id="edit-input-correo"
          name="correo"
          placeholder="correo"
        />
      </label>

      <label class="font-bold flex flex-col" for="telefono">Teléfono
        <input
          class="bg-gray-200 rounded-lg w-[370px] h-[62px] px-4 py-2 mt-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
          type="text"
          required
          id="edit-input-telefono"
          name="telefono"
          placeholder="Teléfono"
        />
      </label>

      <label class="font-bold flex flex-col" for="direccion">Dirección
        <input
          class="bg-gray-200 rounded-lg w-[370px] h-[62px] px-4 py-2 mt-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
          type="text"
          required
          id="edit-input-direccion"
          name="direccion"
          placeholder="Dirección"
        />
      </label>

      <label class="font-bold flex flex-col" for="cp">Código Postal
        <input
          class="bg-gray-200 rounded-lg w-[370px] h-[62px] px-4 py-2 mt-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
          type="text"
          required
          id="edit-input-cp"
          name="cp"
          placeholder="CP"
        />
      </label>

      <label class="font-bold flex flex-col" for="contraseña">Contraseña
        <input
          class="bg-gray-200 rounded-lg w-[370px] h-[62px] px-4 py-2 mt-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
          type="password"
          required
          id="edit-input-contraseña"
          name="contraseña"
          placeholder="Contraseña"
        />
      </label>
   

    <footer class="flex justify-between w-full mt-10">
      <div class="flex justify-center w-full">
        <a href="../" class="bg-gray-500 text-white font-bold py-2 px-4 rounded hover:bg-gray-600 mx-28">Cancelar</a>
        <input  class="bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-600 mx-28" type="submit" value="Guardar">
      </form>
    </div>
    </footer>
  </div>
</body>
</html>